[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
click = "*"
commandbus = "*"
google-cloud-bigquery = "*"
gunicorn = "*"
requests = "*"
Flask = "*"
Flask-WTF = "*"
passlib = "*"
pymongo = "*"
natsort = "*"

[dev-packages]
behave = "*"
pytest = "*"
black = "*"
pylint = "*"
freezegun = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
