[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
click = "*"
commandbus = "*"
google-cloud-bigquery = "*"
gunicorn = "*"
requests = "*"
Flask = "*"
Flask-WTF = "*"
passlib = "*"
pymongo = "<5.0"
natsort = "*"
newrelic = "*"
pybadges = "*"
markupsafe = "~=2.1.5"
flask-cors = "*"

[dev-packages]
behave = "*"
pytest = "*"
black = "*"
pylint = "*"
freezegun = "*"

[requires]
python_version = "3.11"
