{% extends "base.html" %}

{% block title %}{{ project.name }} download stats{% endblock %}

{% block meta %}{{ project.name }} was downloaded {{ '{:,}'.format(project.total_downloads) }} times. Get more download
    stats about any Python package.{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ project.name }}</li>
        </ol>
    </nav>
    <div class="jumbotron mt-4">
        <h1 class="display-4">{{ project.name }} <a href="https://pypi.org/project/{{ project.name }}/"><i
                class="material-icons">link</i></a>
        </h1>
        <hr class="my-4">
        <h3 class="project-section">Summary</h3>
        <table class="table">
            <tbody>
            <tr>
                <th>Total downloads</th>
                <td>{{ '{:,}'.format(project.total_downloads) }}</td>
            </tr>
            <tr>
                <th>Total downloads - 30 days</th>
                <td>{{ '{:,}'.format(project.total_downloads_last_30_days) }}</td>
            </tr>
            <tr>
                <th>Total downloads - 7 days</th>
                <td>{{ '{:,}'.format(project.total_downloads_last_7_days) }}</td>
            </tr>
            <tr>
                <th>PyPI link</th>
                <td>
                    <a href="https://pypi.org/project/{{ project.name }}/">https://pypi.org/project/{{ project.name }}/</a>
                </td>
            </tr>
            </tbody>
        </table>
        <h3 class="project-section">Badge</h3>
        <div class="row">
            <div class="project-badge col-sm-6">
                <img alt="Total downloads for {{ project.name }} project"
                     src="{{ url_for('badge_action', project_name=project.name) }}">
            </div>
            <div class="project-badge-code col-sm-6">
                <label class="sr-only" for="inlineFormInputGroup">Badge</label>
                <div class="input-group mb-2">
                    <input id="badge-markdown" type="text" class="form-control" placeholder="Badge"
                           value="[![Downloads]({{ url_for('badge_action', project_name=project.name, _external=True) }})]({{ url_for('project_action', project_name=project.name, _external=True) }})"
                           readonly>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" data-clipboard-target="#badge-markdown">
                            Copy
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="project-badge col-sm-6">
                <img alt="Month downloads for {{ project.name }} project"
                     src="{{ url_for('badge_month_action', project_name=project.name) }}">
            </div>
            <div class="project-badge-code col-sm-6">
                <label class="sr-only" for="inlineFormInputGroup">Badge month downloads</label>
                <div class="input-group mb-2">
                    <input id="badge-markdown-month" type="text" class="form-control" placeholder="Badge"
                           value="[![Downloads]({{ url_for('badge_month_action', project_name=project.name, _external=True) }})]({{ url_for('project_action', project_name=project.name, _external=True) }})"
                           readonly>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" data-clipboard-target="#badge-markdown-month">
                            Copy
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="project-badge col-sm-6">
                <img alt="Weekly downloads for {{ project.name }} project"
                     src="{{ url_for('badge_week_action', project_name=project.name) }}">
            </div>
            <div class="project-badge-code col-sm-6">
                <label class="sr-only" for="inlineFormInputGroup">Badge week downloads</label>
                <div class="input-group mb-2">
                    <input id="badge-markdown-week" type="text" class="form-control" placeholder="Badge"
                           value="[![Downloads]({{ url_for('badge_week_action', project_name=project.name, _external=True) }})]({{ url_for('project_action', project_name=project.name, _external=True) }})"
                           readonly>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" data-clipboard-target="#badge-markdown-week">
                            Copy
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="project-section">Downloads by day</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Downloads</th>
            </tr>
            </thead>
            <tbody>
            {% for download in downloads %}
                <tr>
                    <td>{{ download.date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ '{:,}'.format(download.downloads) }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
