{% extends "base.html" %}

{% block content %}
    <div class="jumbotron mt-4">
        <h1 class="display-4">{{ project.name.name }} <a href="https://pypi.org/project/{{ project.name.name }}/"><i
                class="material-icons">link</i></a>
        </h1>
        <hr class="my-4">
        <h3 class="project-section">Badge</h3>
        <div class="row">
            <div class="project-badge col-sm-6">
                <img src="{{ url_for('badge_action', project_name=project.name.name) }}">
            </div>
            <div class="project-badge-code col-sm-6">
                <label class="sr-only" for="inlineFormInputGroup">Badge</label>
                <div class="input-group mb-2">
                    <input id="badge-markdown" type="text" class="form-control" placeholder="Badge"
                           value="[![Downloads]({{ url_for('badge_action', project_name=project.name.name, _external=True) }})]({{ url_for('project_action', project_name=project.name.name, _external=True) }})"
                           readonly>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" data-clipboard-target="#badge-markdown">
                            Copy
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <h3 class="project-section">Downloads</h3>
        <table class="table">
            <tbody>
                <tr>
                    <th>Total downloads</th>
                    <td>{{ project.downloads.value }}</td>
                </tr>
            </tbody>
        </table>
        <h3 class="project-section">Downloads by days</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Date</th>
                <th>Downloads</th>
            </tr>
            </thead>
            <tbody>
            {% for download in downloads %}
                <tr>
                    <td>{{ download.day.strftime('%Y-%m-%d') }}</td>
                    <td>{{ download.downloads.value }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>
{% endblock %}
