name: CI

on: pull_request

jobs:
  build:
    name: Build Docker image
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - uses: actions/checkout@v1
      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build pepy image
        run: docker build --file infrastructure/dockerfiles/pepy/Dockerfile --tag ghcr.io/psincraian/pepy:sha-$GITHUB_SHA .
      - name: Push image
        run: docker push ghcr.io/psincraian/pepy:sha-$GITHUB_SHA
      - name: Build pepy-test image
        run: docker build --file infrastructure/dockerfiles/pepy-test/Dockerfile --tag ghcr.io/psincraian/pepy-test:sha-$GITHUB_SHA .
      - name: Push image
        run: docker push ghcr.io/psincraian/pepy-test:sha-$GITHUB_SHA
  tests:
    name: Tests
    needs: build
    permissions:
      packages: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Log in to the Container registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Start environment
        run: DOCKER_TAG=sha-$GITHUB_SHA make start-containers
      - name: Run tests
        run: DOCKER_TAG=sha-$GITHUB_SHA make params=-T tests